<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

<h2>Nuevo alumno</h2>

 <form action="#" th:action="@{/Alumno/crear}" th:object="${alumno}" method="post">
    	<p>Nombre: <input type="text" th:field="*{nombre}" /></p>
        <p>Apellido: <input type="text" th:field="*{apellido}" /></p>
        <p>Fecha nacimiento: <input type="text" th:field="*{fechaNac}" /></p>
        <p>Nombre de la clase 
        	<select th:field="*{idClase}">
				<option  th:each="clase:${clases}" th:value="${clase.id}"  th:text="${clase.nombre}" ></option>
			</select>
		</p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>



</body>
</html>